*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../../Downloads/993903-free-download-large-background-images-3506x1972.jpg)

}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    }
  ul{ 
    padding: 20px;
    margin: 0 20px;
    font-size: 30px;
    
  }
  .me{ 
    padding: 30px;
    margin: 0 20px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-right: 500px;

  }
  h1{ 
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
  }
  .header-line{
    width: 92%;
    height: 1px;
    background: white;
    margin-left: 85px;
  }
  h2{
    padding: 100px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 60px;
  }
  p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
main{
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 20px;
  margin-left: 450px;
  margin-right: 450px;

}  
.D{
  background-color: crimson;
  padding: 7px;
  border-radius: 50px / 25px;
  text-decoration: none;
  
}
.L{
  
  padding: 7px;
  border-radius: 7px;
  text-decoration: none;

}
    
  
  
