*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(./993903-free-download-large-background-images-3506x1972.jpg)

}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    }
  ul{ 
    padding: 20px;
    margin: 0 20px;
    font-size: 30px;
    
  
  
  }
  .Log{
    width: 100px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
  }
  .Sign{
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
  }
  .me { 
    padding: 30px;
    margin: 0 20px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-right: 700px; 
    
  }
  .me a{
    color: white;
    text-decoration: none;
  }
  h1{ 
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
  }
  .header-line{
    width: 92%;
    height: 1px;
    background: white;
    margin-left: 85px;
  }
  h2{
    padding: 100px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 60px;
  }
  p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
main{
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 20px;
  margin-left: 600px;
  margin-right: 600px;

}  
.D{
  background-color: pink;
  padding: 15px;
  border-radius: 70px / 80px;
  text-decoration: none;
  color: white;
  width: 150px;
  display: flex;
  justify-content: center;

  
}
.L{
  width: 150px;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  color: white;
  border: 2px solid pink;

   


}
    
  
  
